@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.container{
  width: calc(100% - 32px);
  max-width: 1440px;
  margin:0 auto;
}
@media (min-width: 768px) {
  .container {
    width: calc(100% - 60px);

  }
}
@media (min-width: 1024px) {
  .container {
   width: calc(100% - 90px);

  }
}